#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
query_cache_size = 1000000
max_connections = 1024
innodb_buffer_pool_size = 1G # メモリの8割ぐらい
innodb_flush_log_at_trx_commit = 0
innodb_flush_method=O_DIRECT
# 以下は安全性を無視する
innodb_doublewrite = 0
innodb_flush_log_at_trx_commit = 0 # 120 の順に安全 (リカバリしない限りなんでも良い)
# skip_name_resolve # grant 文で ip アドレスしか使えなくなるのに注意

# slow query
slow_query_log = 1
slow_query_log_file = /tmp/mysql-slow.log
long_query_time = 0.5 #slow query time
log-queries-not-using-indexes

# this is only for embedded server
[embedded]

# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]

# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-5.5]

